/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Buttons)          ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.scroller_fea3ef {
  contain: unset;
}

/* Order */
.wrapper_fea3ef {
  order: 2;
}

.base_a4d4d9 {
  order: 1;
}

/* Spacing */
.guilds_a4d4d9 {
  margin-right: var(--layout-margin-left) !important;
  margin-left: 0px !important;
}

/* Reverse */
.pill_f9623d,
.pill_f36a5a,
.pill_a5ad63 {
  transform: rotate(180deg);
  transform-origin: center;
  left: 62px;
  position: absolute;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Buttons)          ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.wrapper_fea3ef {
  margin-bottom: calc(var(--layout-margin-bottom) + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + var(--layout-margin)) !important;
}

/* Background */
.panels_a4d4d9 .container_b2ca13:last-child .flex_bba380 {
  position: fixed;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: calc(var(--layout-margin-bottom));
  right: var(--layout-margin-right);
  width: 72px;
  padding: var(--inner-secondary) 0px;
  margin: 0px;
  grid-gap: var(--inner-secondary);
}

/* Buttons */
.panels_a4d4d9>.container_b2ca13:last-child .directionRow__65900 .button_f67531 {
  background: var(--background-primary);
  border-radius: var(--radius-primary);
  width: 48px;
  height: 48px;
}

/* Panel */
.panels_a4d4d9>.container_b2ca13:last-child {
margin-bottom: -42px;
}

/* Remove Game Activity */
.panels_a4d4d9>.container_b2ca13:last-child .button_f67531:nth-last-child(4) {
  display: none;
}
