/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Default)          ║ Reverse                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Order */
.wrapper_fea3ef {
  order: 2;
}

.base_a4d4d9 {
  order: 1;
}

/* Spacing */
.guilds_a4d4d9 {
  margin-right: var(--layout-margin-left) !important;
  margin-left: 0px !important;
}

/* Reverse */
.pill_f9623d,
.pill_f36a5a,
.pill_a5ad63 {
  transform: rotate(180deg);
  transform-origin: center;
  left: 62px;
  position: absolute;
}