/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Divided)          ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.scroller_fea3ef {
  contain: unset;
}

/* Order */
.wrapper_fea3ef {
  order: 2;
}

.base_a4d4d9 {
  order: 1;
}

/* Spacing */
.guilds_a4d4d9 {
  margin-right: var(--layout-margin-left) !important;
  margin-left: 0px !important;
}

/* Reverse */
.pill_f9623d,
.pill_f36a5a,
.pill_a5ad63 {
  transform: rotate(180deg);
  transform-origin: center;
  left: 62px;
  position: absolute;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Divided)          ║ Divided                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.wrapper_fea3ef {
  margin-top: calc((var(--guild-icon) * 3) + (var(--guild-spacing) * 4) + var(--layout-margin) + var(--layout-margin-top)) !important;
}

.scroller_fea3ef {
  padding-top: 0px !important;
}

/* Home Button */
.tutorialContainer_f9623d {
  position: fixed;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  padding: var(--inner-secondary) 0px;
  height: calc((var(--guild-icon) * 3) + (var(--guild-spacing) * 2)) !important;
  top: var(--layout-margin-top);
}

.platform-win .tutorialContainer_f9623d {
  top: calc(var(--height-titlebar) - 2px + var(--layout-margin-top));
}

/* Explore Button */
.scroller_fea3ef > .listItem_c96c45:nth-last-child(2) {
  position: fixed;
  top: calc(var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing));
}

.platform-win .scroller_fea3ef > .listItem_c96c45:nth-last-child(2) {
  position: fixed;
  top: calc(var(--height-titlebar) - 2px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing));
}

.platform-web .scroller_fea3ef > .listItem_c96c45:nth-last-child(4) {
  position: fixed !important;
  top: calc(var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing));
}

/* Add Server Button */
.tutorialContainer_c96c45 {
  position: fixed;
  top: calc(var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing) + var(--guild-icon) + var(--guild-spacing));
}

.platform-win .tutorialContainer_c96c45 {
  position: fixed;
  top: calc(var(--height-titlebar) - 2px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing) + var(--guild-icon) + var(--guild-spacing));
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Right (Divided)          ║ Divided (DM Button)                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
[style="opacity: 1; height: 56px; transform: scale(1);"] {
  order: -2;
  border-radius: var(--radius-primary);
  padding-top: 8px;
  padding-bottom: 8px;
  height: 50px !important;
}

/* Separator */
.scroller_fea3ef > .listItem_c96c45:nth-last-child(5) {
  order: -1;
}

[style="opacity: 1; height: 56px; transform: scale(1);"] + .listItem_c96c45 .guildSeparator_d0c57e {
  display: block;
}

.guildSeparator_d0c57e {
  display: none;
}