/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Privacy                  ║ User Tag                                                                                ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.nameTag_b2ca13 .subtext_e06aad:not(.spotify-artist) {
  background: var(--header-secondary);
  border-radius: 4px;
  width: 20%;
  height: 8px;
  margin-top: 4px;
}

.nameTag_b2ca13:hover .subtext_e06aad:not(.spotify-artist) {
  background: transparent;
  height: auto;
  margin-top: 0px;
}