/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Top (Buttons)            ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.base_a4d4d9 {
  margin-left: var(--layout-margin-left) !important;
}

.layers_d4b6c5 {
  margin-top: calc(72px + var(--layout-margin-top));
}

.wrapper_fea3ef {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  top: calc(72px + var(--layout-margin-top));
  left: calc(var(--layout-margin-left));
  height: 100vw;
}

.platform-win .wrapper_fea3ef {
  top: calc(var(--height-titlebar) + 72px - 2px + var(--layout-margin-top));
}

.guilds_a4d4d9 {
  margin: unset !important;
  background: transparent !important;
}

/* Background */
.scroller_fea3ef {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
  margin-bottom: calc(var(--layout-margin-right) + var(--layout-margin) + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + var(--layout-margin));
}

/* Pill */
.pill_f9623d,
.pill_db6521,
.pill_f36a5a,
.pill_a5ad63 {
  transform: rotate(90deg);
  transform-origin: center;
  top: -32px;
  left: 32px;
}

/* Separator */
.guildSeparator_d0c57e {
  transform: rotate(90deg);
}

/* Item */
.listItem_c96c45 {
  transform: rotate(90deg);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Top (Buttons)            ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.panels_a4d4d9 .container_b2ca13:last-child .flex_bba380 {
  position: fixed;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  top:  calc(var(--layout-margin-top));
  right: var(--layout-margin-right);
  height: 72px;
  padding: 0px var(--inner-secondary);
  margin: 0px;
  grid-gap: var(--inner-secondary);
}

.platform-win .container_b2ca13:last-child .flex_bba380 {
  top: calc(var(--height-titlebar) - 2px + var(--layout-margin-top));
}

/* Buttons */
.panels_a4d4d9 > .container_b2ca13:last-child .directionRow__65900 .button_f67531 {
  background: var(--background-primary);
  border-radius: var(--radius-primary);
  width: 48px;
  height: 48px;
}

/* Panel */
.panels_a4d4d9 > .container_b2ca13:last-child {
  margin-bottom: -42px;
}

/* Unread */
.unreadMentionsIndicatorBottom_fea3ef {
  margin-bottom: calc(var(--layout-margin-right) + var(--layout-margin-bottom) + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + 48px + var(--inner-secondary) + var(--layout-margin)) !important; 
}

/* Remove Game Activity */
.panels_a4d4d9>.container_b2ca13:last-child .button_f67531:nth-last-child(4) {
  display: none;
}