/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Bottom (Default)         ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.base_a4d4d9 {
  margin-left: var(--layout-margin-left) !important;
}

.layers_d4b6c5 {
  margin-bottom: calc(72px + var(--layout-margin-top));
}

.wrapper_fea3ef {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: var(--layout-margin-bottom) !important;
  height: 100vw;
  left: 100vw;
}

.guilds_a4d4d9 {
  margin: unset !important;
  background: transparent !important;
}

/* Background */
.scroller_fea3ef {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
  margin-bottom: var(--layout-margin);
  margin-top: var(--layout-margin-left);
}

/* Pill */
.pill_f9623d,
.pill_db6521,
.pill_f36a5a,
.pill_a5ad63 {
  transform: rotate(-90deg);
  transform-origin: center;
  top: 32px;
  left: 32px;
}

/* Separator */
.guildSeparator_d0c57e {
  transform: rotate(90deg);
}

/* Item */
.listItem_c96c45 {
  transform: rotate(90deg);
}

/* Unread */
.unreadMentionsIndicatorTop_fea3ef {
  margin-top: var(--layout-margin-top);
}

.unreadMentionsIndicatorBottom_fea3ef {
  margin-bottom: var(--layout-margin-right);
}