/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Dash                     ║ Import                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Emoji */
@font-face {
    font-family: "CreArts-Dash";
    font-style: normal;
    font-display: swap;
    src: url(https://crearts-community.github.io/Assets/fonts/dash/dash.woff2) format("woff2");
    unicode-range: U+002D;
  }
  
/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Dash                     ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.container_ee69e0 .channelName-3KPsGw,
.title_a7d72e .title_e44302,
.contents_ec86aa .iconMentionText-1_WCtN,
.container_eedf95 .resultChannel_b0286e,
.searchResultsWrap_c2b47d .channelName-3w2Y3c,
.search_ff5f90 .searchAnswer_b0fa94,
.autocomplete_f23da8 .size16-rrJ6ag,
.channelTextArea_a7d72e .iconMentionText-1_WCtN {
  font-family: "CreArts-Dash", var(--font-primary) !important;
  text-transform: capitalize;
}